
*,
*:before,
*:after {
    box-sizing: $initialize-box-sizing;
}

html {
    scroll-behavior: smooth;
    @include rem-baseline;
    font-weight: $font-weight-base;
    cursor: default; // Cursors only change to hint non-obvious interfaces
    height: 100%;
    word-break: break-word; // Words break to prevent overflow
    body {
        font-family: $font-primary;
    }
}

body {
    background-color: $color-body-bg;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // @include rem(margin-top, $mobile-header-total-height);

    @include mq('sm') {
        // Hide all Browser Bars
        -ms-overflow-style: initial;

        &::-webkit-scrollbar {
          width: 8px;
          background-color: #d7e2e0;
          background-color: #d7e2e0;
        }
        &::-webkit-scrollbar-thumb{
          background-color: #AFB1B3;
          border-radius: 4px;
          width: 8px;
        }
    }
}

/**
 * Mobile Fast Click
 * Clicking links, buttons, and form fields will be
 * a lot quicker and responsive on touch devices.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

/**
 * Hand cursor on clickable input elements
 */
a,
input[type='button'],
input[type='submit'],
input[type='file'],
input[type='image'],
button {
    cursor: pointer;
}

@include headings {
    font-size: $font-size-base;
    font-weight: $font-weight-base;
}

a {
    @include reset-link;
}

ul,
ol {
    @include reset-list;
}

img {
    @include reset-media;
}
