
/**
 * Colors
 */

//  Default Colors
$color-white    : #fff !default;
$color-black    : #000 !default;

// Project Colors
$color-pink   : #F39AC1 !default;
$color-pink-mid   : #fb8cb6 !default;
$color-red: #EF3129 !default;
$color-pink-dark: #F06699 !default;
$color-darker-pink: #EE4D93 !default;
$color-green: #5DC3B6 !default;
$color-green-dark: #06AF84 !default;
$color-green: #ADC5E7 !default;

$color-black-lighter : #242020 !default;

$color-gray: #94A1A6  !default;
$color-gray-light: #333333;
$color-gray-lighten: #F9FAFA;
$color-gray-ultra-light: #f3f3f3;
$color-gray-disable:#d7e2e0;


$color-primary  : $color-black !default;
$color-secondary: $color-pink !default;