
/**
 * Typography
 */
$font-primary     : 'Lato', sans-serif !default;
$font-secondary: 'Zona Pro', sans-serif !default;
$font-zonaPro-normal: 'ZonaPro', sans-serif !default;

$font-size-base: 16px !default;

/**
 * Font Weight
 * Uses by 'font-weight' mixin
 */
$weights: (
    thin       : 100,
    extra-light: 200,
    ultra-light: 200,
    light      : 300,
    normal     : 400,
    book       : 400,
    regular    : 400,
    medium     : 500,
    semi-bold  : 600,
    demi-bold  : 600,
    bold       : 700,
    extra-bold : 800,
    ultra-bold : 900,
    heavy      : 900,
    black      : 900,
    ultra      : 900,
    ultra-black: 900,
    extra-ultra: 900
);

/* stylelint-disable-next-line */
$font-weight-base: map-get($weights, normal) !default;
