
.orderform-template .cart-template {
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 2px;

  &.mini-cart.span4 {
    width: 32.5%!important;
    margin-left: 2.5%!important;
    }

  .cart-fixed.cart-fixed-transition {
    width: 100%;
    max-width: 300px;
    margin: auto;
        h2 {
        text-align: left;
        background: transparent;
        color: #000;
        font-family: Lato, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        }
        .summary-cart-template-holder .cart .cart-items {
        .product-name {
            color: #94a1a6;
            font-family: Lato, sans-serif;
            font-size: 14px;
            line-height: 16px;
        }
        .description .pull-right {
            color: #000;
            font-family: Lato, sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
        }
        }
        #go-to-cart-button {
        display: none;
        }
        .summary-template-holder {
        background: transparent;
        .row-fluid.summary .summary-totalizers.cart-totalizers .accordion-group .accordion-body .accordion-inner .table {
            width: 100%;
            tfoot tr {
            display: flex;
            width: 100%;
            }
        }
        }
        .payment-confirmation-wrap {
        display: block;
        .payment-submit-wrap .btn-success {
            background: #d7e2e0;
            border: none;
            height: 60px;
            box-shadow: none;
            &:hover {
            background: #c6d3d0;
            }
            .icon-lock {
            display: none;
            }
            span {
            color: #000;
            font-family: lato, sans-serif;
            font-size: 14px;
            letter-spacing: .1px;
            line-height: 18px;
            text-align: center;
            font-weight: 600;
            }
        }
        }
    }

    #cart-choose-more-products, #cart-print {
        display: none;
    }


}

.cart-links-bottom {
        width: 100%;
        display: block;
        .btn-place-order-wrapper {
            width: 100%;
            #cart-to-orderform {
            width: 22%;
            float: right;
            height: 38px;
            line-height: 38px;
            background: #f39ac1;
            border: none;
            color: #000;
            font-family: lato, sans-serif;
            font-size: 15px;
            letter-spacing: .1px;
            text-align: center;
            font-weight: 600;
            }
        }
    }

    #orderform-to-cart {
        display: none!important;
    }


    #orderform-title {
        display: block;
        color: #000;
        font-size: 32px;
        line-height: 40px;
        margin: 40px 0 20px;
        font-weight: 600;
    }

p.add-item-attachment-container {
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
}


.body-cart {
  .summary-totalizers .accordion-group .accordion-body .accordion-inner .table .shipping-calculate {
    display: contents;
    tr {
      border-bottom: none;
      td {
        padding: 10px 0;
      }
      .monetary {
        width: 50%;
        text-align: right!important;
        font-size: 14px;
        a {
          color: #000;
          text-decoration: underline;
        }
      }
      .shipping-fields {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 170px;
        margin-left: auto;
      }
      i.loading-inline.icon-spinner.icon-spin, span.help.error {
        display: none!important;
      }
      #summary-postal-code {
        height: 35px;
        border: 1px solid #000;
        position: relative;
        right: -10px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        width: 100px;
      }
      #cart-shipping-calculate {
        background: #2a2a2a;
        color: #fff;
        font-size: 0;
        text-transform: uppercase;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        font-weight: 700;
        &:after {
          content: "OK";
          font-size: 14px;
        }
      }
      small.postal-code-service.summary-postal-code-service {
        text-align: center;
      }
      .empty {
        display: none;
      }
    }
  }
  .coupon-fieldset {
    > div {
      display: block!important;
    }
    .link-coupon-add {
      display: none;
    }
  }
  tr {
    &.Shipping {
      display: contents!important;
    }
    &.srp-summary-result.hide {
      display: none!important;
    }
  }
  a.btn.btn-mini.btn-default.dropdown-toggle.shipping-sla-button {
    display: none;
  }


}

.cart-template .cart-template-holder .cart {
    border: none;
    .cart-items {
        thead {
        display: none;
        }
        tbody tr {
        border: 1px solid rgba(0, 0, 0, 0.08);
        td {
            border-bottom: 1px solid rgba(0, 0, 0, 0.08);
            &.product-image {
            padding: 20px;
            a img {
                width: 75px;
                max-width: 100vh;
                display: block;
                height: auto;
            }
            }
            &.product-name {
            width: 230px;
            a {
                height: 32px;
                color: #000;
                font-family: Lato, sans-serif;
                font-size: 14px;
                line-height: 16px;
                font-weight: 700;
                &.add-item-attachment, &.clone-item {
                color: #f39ac1;
                height: auto;
                position: relative;
                padding-left: 1.4375rem;
                font-weight: 400;
                }
                &.add-item-attachment:before, &.clone-item:before {
                content: "+";
                position: absolute;
                width: 16px;
                width: 1rem;
                height: 16px;
                height: 1rem;
                left: 0;
                border-radius: 50%;
                border: 1px solid #f39ac1;
                }
                &.add-item-attachment.btn, &.clone-item.btn {
                background: transparent;
                border: none;
                box-shadow: none;
                }
                &.add-item-attachment.btn:hover, &.clone-item.btn:hover {
                background: transparent;
                }
            }
            }
            &.quantity:before {
            content: "Quantidade";
            display: block;
            padding-right: 13px;
            padding-bottom: 13px;
            height: 16px;
            color: #94a1a6;
            font-family: Lato, sans-serif;
            font-size: 14px;
            line-height: 16px;
            }
            &.quantity-price {
            height: 22px;
            color: #000;
            font-family: Lato, sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 22px;
            .total-list-price, .total-selling-price {
                display: block;
            }
            .total-list-price {
                font-size: 14px;
                font-weight: 400;
            }
            }
            &.quantity {
            input {
                border: none;
                height: 22px;
                color: #000;
                font-family: Lato, sans-serif;
                font-size: 18px;
                line-height: 22px;
                box-shadow: none;
                width: 11px;
            }
            .icon-minus-sign {
                font-weight: 900;
                border: 1px solid #94a1a6;
                border-radius: 100%;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 14px;
                display: flex;
                display: inline-block;
                justify-content: center;
                align-items: center;
                &:before {
                content: "-";
                font-size: 25px;
                margin-bottom: 6px;
                }
            }
            .icon-plus-sign {
                font-weight: 900;
                border: 1px solid #94a1a6;
                border-radius: 100%;
                width: 20px;
                height: 20px;
                text-align: center;
                line-height: 20px;
                display: flex;
                display: inline-block;
                align-items: center;
                justify-content: center;
                &:before {
                content: "+";
                font-size: 17px;
                position: relative;
                bottom: 2px;
                margin-top: 2px;
                }
            }
            }
            &.product-price {
            .old-product-price {
                font-size: 14px;
            }
            .best-price {
                height: 22px;
                color: #000;
                font-family: Lato, sans-serif;
                font-size: 18px;
                line-height: 22px;
            }
            }
            &.item-remove {
            width: 200px;
            .icon-remove {
                display: none;
            }
            .item-remove-text {
                display: block;
                height: 16px;
                width: 56px;
                color: #94a1a6;
                font-family: Lato, sans-serif;
                font-size: 14px;
                line-height: 16px;
                text-decoration: underline;
                margin-left: auto;
                margin-right: 25px;
                text-transform: capitalize;
            }
            }
        }
        &.item-attachments-head {
            td {
            display: none;
            }
            .item-attachments-header strong {
            font-size: 0;
            }
        }
        &.item-attachments-content {
            background: transparent;
            border: none;
            td {
            &.item-attachments-item-image {
                display: none;
            }
            &.item-attachments-item-fields {
                padding-left: 7.5rem;
                .item-attachment {
                padding: .9375rem 0;
                &.item-attachment-name-vtexpsubscriptionpassinatura {
                    label.item-attachment-name-label {
                    font-size: 0;
                    &:after {
                        content: "Sua Assinatura";
                        font-size: 14px;
                        font-size: .875rem;
                        line-height: 16px;
                        line-height: 1rem;
                        font-family: Lato, sans-serif,sans-serif;
                        font-weight: 400;
                    }
                    }
                    select.input-large {
                    font-size: 14px;
                    font-size: .875rem;
                    line-height: 16px;
                    line-height: 1rem;
                    font-family: Lato, sans-serif,sans-serif;
                    width: 253px;
                    width: 15.8125rem;
                    height: 40px;
                    height: 2.5rem;
                    }
                }
                }
            }
            }
        }
        }
    }
}



.empty-cart-content {
  text-align: center;
  #cart-choose-products {
    background: #f39ac1;
    display: block;
    height: 36px;
    width: 314px;
    border-radius: 4px;
    font-size: 14px;
    font-size: .875rem;
    line-height: 36px;
    font-family: Zona Pro,sans-serif;
    font-weight: 700;
    margin: 30px auto 0;
    color: #000;
  }
  h2 {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
  }
  .empty-cart-message p {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 20px;
    display: block;
  }
}



@media screen and (max-width: 768px){
    .container-main #cart-title {
        background: url("/arquivos/sacola.png") no-repeat 0 !important;
        padding-left: 28px!important;
    }

    a#cart-choose-products {
        width: 80%!important;
    }
}

