
.summary-totalizers tr {
  &.srp-summary-result.hide {
    display: none!important;
  }
  td {
    padding-left: 0!important;
  }
}

.affix, .affix-top {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  max-width: 240px!important;
  position: static!important;
  min-height: 370px!important;
}



.affix {
  height: 500px!important;
  min-height: 500px!important;
  max-height: 500px!important;
}

.affix-top {
  height: 500px!important;
  min-height: 500px!important;
  max-height: 500px!important;
  span.shipping-date.pull-left {
    display: none;
  }
}

.affix span.shipping-date.pull-left {
  display: none;
}

span.help.error {
  display: none;
}

span.error {
  margin: 0 0 20px 30px;
}



button#btn-go-to-payment, input#ship-receiverName {
  box-shadow: none;
  color: #000;
}

button {
  &#btn-go-to-payment {
    background: #f39ac1;
    outline: none;
    border: none;
    font-weight: 600;
    height: 60px;
    width: 100%;
    font-family: lato, sans-serif;
    font-size: 14px;
    letter-spacing: .1px;
    line-height: 18px;
    text-align: center;
    margin: 30px auto;
    display: block;
  }
  &#back-to-address-list {
    color: #000;
    margin-top: 20px;
  }
}



input {
  &#ship-number {
    width: 52px;
  }
  &#ship-complement, &#ship-number {
    margin: auto;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    box-shadow: none;
    font-weight: 500;
    font-size: 18px;
    color: #000;
    font-family: Lato, sans-serif;
    padding-left: 25px;
  }
  &#ship-complement {
    width: 150px;
  }
  &#ship-receiverName {
    width: 89.5%;
    margin: auto;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    font-weight: 500;
    font-size: 18px;
    font-family: Lato, sans-serif;
    padding-left: 25px;
  }
}


@media screen and (max-width: 768px){
    .summary-coupon-wrap .summary-coupon .coupon-form .coupon-fieldset .coupon-fields #cart-coupon {
        width: 93%!important;
    }

    .icon-minus-sign, .icon-plus-sign {
        display: flex!important;
    }

}






@mixin inputWithLabel {
  position: relative;
  margin: 10px auto;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;

  span.help.error{
      display: none !important;
  }

  &.field--not-empty {
    label {
      opacity: 1;
      transform: none;
    }

    input {
      padding-bottom: 11px;
      padding-top: 27px;
    }

  }

  label {
    color: #94A1A6;
    box-sizing: border-box;
    display: block;
    font-size: 13px;
    line-height: 1;
    opacity: 0;
    overflow: hidden;
    padding: 10px 11px;
    pointer-events: none;
    position: absolute;
    text-overflow: ellipsis;
    top: 0;
    text-align: left;
    transform: translateY(3px);
    transition: all .2s ease-out;
    user-select: none;
    white-space: nowrap;
    width: 100%;
    z-index: 1;

  }
  input {
    background: none;
    border: none;
    box-shadow: none;
    outline: none;
    color: #000;
    font-size: 16px;
    padding: 11px;
    transition: all .2s ease-out;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 18px;

    &:focus {
      outline: none;
      border: none;
      box-shadow: none;
    }

    &::placeholder {
      color: #94A1A6;
      font-size: 16px;
    }
  }
}
