
.e-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.e-footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.e-footer__top--left {
  padding-left: 8%;
  span {
    color: #94a1a6;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: 700;
    strong {
      margin-left: 10px;
    }
  }
}

.e-footer__top--right {
  padding-right: 8%;
  span {
    color: #94a1a6;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: 700;
    strong {
      margin-left: 10px;
    }
  }
}

.e-footer__bottom {
  padding: 15px 8%;
  p {
    line-height: 16px;
    margin: 15px 0 30px;
    width: 60%;
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 14px;
  }
  span {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 14px;
    a {
      color: #000;
    }
  }
}


@media screen and (max-width: 768px){
    .e-footer__bottom p {
        width: 100%!important;
    }
}
