
.e-header {
  background: #000;
}

.e-header__center {
  padding: 23.15px 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.e-header__logo svg {
  fill: #fff;
  font-size: 15px;
  width: 120px;
}

.e-header__secure {
  height: 16px;
  width: 170px;
  opacity: .6;
  font-family: Lato, sans-serif;
  font-weight: 700;
  justify-content: space-between;
  align-items: center;
}

.e-header__left a, .e-header__secure {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  display: flex;
}

.e-header__left a strong svg {
  transform: rotate(180deg);
  margin-right: 11px;
  g {
    fill: #fff;
  }
}


@media screen and (max-width: 768px){
      .e-header__secure span {
        font-size: 12px!important;
    }


    .e-header__left {
        display: none!important;
    }
    .e-header__center {
        padding: 15.15px 8%!important;
    }
}
